.new-app-screens .device-app-wrapper {
  background: #262626;
  width: 100%;
  height: 100%;
  min-height: 30em;
  padding: 5em;
  display: flex; }
  .new-app-screens .device-app-wrapper #device-new-3 {
    margin: auto;
    background-color: #fff;
    border: 0.126em solid #fff;
    border-radius: 1.512em;
    width: 15em;
    height: 30em;
    padding: 1.701em 0 0;
    border: 2px solid #eee;
    box-shadow: 0px 5px 0px #ddd; }
    .new-app-screens .device-app-wrapper #device-new-3 #button {
      margin: 0.4em auto 0;
      background-color: #ddd;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      padding: 0.2em;
      cursor: pointer; }
      .new-app-screens .device-app-wrapper #device-new-3 #button #button-square {
        margin: 0.03em auto;
        width: 0.693em;
        height: 0.693em;
        border: 0.126em solid #e9eae4;
        border-radius: 0.252em;
        position: relative;
        right: 0.2px; }
    .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 {
      background-color: #fff;
      margin: 0 auto 0;
      border: 0.189em solid #ddd;
      border-radius: 0.189em;
      width: 13.56em;
      height: 24.492em;
      overflow: hidden;
      position: relative; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .nav-link {
        font-size: 0.7rem; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .audio .audio-body {
        height: calc(100% - 100px);
        top: 63px; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home {
        opacity: 0;
        position: relative;
        height: 100%; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home.selected {
          opacity: 1; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home:hover .edit-hover-image {
          display: block; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .edit-hover-image {
          position: absolute;
          z-index: 50;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: none;
          background: rgba(0, 0, 0, 0.7);
          padding: 20px;
          cursor: pointer;
          color: #fff; }
          .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .edit-hover-image input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: auto;
            z-index: 5; }
          .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .edit-hover-image .custom-file-control {
            top: 80px;
            bottom: 0;
            height: auto;
            background: transparent;
            color: #fff; }
            .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .edit-hover-image .custom-file-control:before {
              left: 0px;
              top: 40px;
              right: 0px; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper {
          background-size: cover;
          background-position: 50%; }
          .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .showinfo {
            padding: 50px 10px 0px 10px; }
            .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .showinfo h1 {
              color: #fff;
              font-size: 1rem; }
            .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .showinfo h2 {
              color: #fff;
              font-size: 0.5rem;
              margin-bottom: 2px; }
            .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .showinfo .read-more {
              padding: 3px 8px;
              display: inline-block;
              background: #fff;
              border-radius: 10px;
              font-size: 0.5rem; }
          .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .body {
            z-index: 10;
            position: absolute;
            top: 120px;
            width: 100%; }
            .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .body .features {
              display: flex; }
              .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .body .features .feature {
                display: flex;
                flex-direction: column;
                margin-left: 3px;
                width: 25%; }
                .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .body .features .feature img {
                  max-height: 50px; }
                .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .body .features .feature .title {
                  font-size: 0.4rem;
                  flex: 1;
                  margin-bottom: 1px; }
                .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .home .screen-wrapper .body .features .feature .price {
                  font-size: 0.35rem;
                  margin-bottom: 0; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .map, .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .audio, .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .interact {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translate(calc(100% + 1px), 0);
        transition: all 0.5s ease;
        z-index: 50;
        background: red; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .map.selected, .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .audio.selected, .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .interact.selected {
          transform: translate(0, 0); }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .map .scroll, .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .audio .scroll, .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .interact .scroll {
          overflow-y: scroll;
          height: 351px; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .header {
        position: absolute;
        width: 100%;
        top: 0;
        height: 36px;
        padding: 8px; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .header .profile {
          display: inline;
          cursor: pointer;
          float: right;
          margin-top: 3px; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 36px;
        z-index: 60;
        background: #262626;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center; }
        .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .footer .tab {
          cursor: pointer;
          text-align: center;
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .footer .tab.active-tab {
            background: #000; }
            .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .footer .tab.active-tab svg {
              color: #fff !important; }
      .new-app-screens .device-app-wrapper #device-new-3 #screen-new-3 .screen-wrapper {
        position: absolute;
        top: 36px;
        bottom: 36px;
        left: 0;
        right: 0;
        height: 266px;
        overflow: hidden; }

.new-app-screens #device-new-3, .new-app-screens #devicetop, .new-app-screens #screen-new-3 {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s; }

.new-app-screens #device-new-3.ipad {
  margin: 1em auto 0.598em;
  border-radius: 1.512em;
  width: 28.98em;
  height: 38.178em;
  padding: 1.134em 0 0;
  box-shadow: none; }

.new-app-screens #devicetop {
  background-color: #aba99f;
  width: 1.89em;
  height: 0.315em;
  border: 0.126em solid #ddd;
  border-radius: 0.315em;
  margin: 0 auto 0.756em; }

.new-app-screens #devicetop.ipad-camera {
  width: 0.315em;
  height: 0.315em;
  border-radius: 0.315em;
  margin: 0 auto 1.512em;
  border: 0.189em solid #fff; }
