// ======== Theme Blue
// ------- site-nav
// ----------------
$site-nav-bg:                       $md-white;
$site-nav-toggle-color:             $md-indigo-500;
$site-nav-head-color:               $md-grey-900;
$site-nav-head-border-color:        $md-indigo-500;
$site-nav-list-color:               lighten($md-grey-900, 8%);
$site-nav-list-hover-color:         $md-indigo-500;

// ------ view-header
// ------------------
$view-header-bg:                    $site-nav-toggle-color;


/// MORE COMING SOON 


/// ####### END #######
