@import 'shared/variables'; // modify bootstrap variables and put extra variables in this file
@import './node_modules/bootstrap/scss/bootstrap.scss'; // import full bootstrap here (as-is)
@import 'shared/animate.scss';

// ---------- bootstrap override ------------
// ------------------------------------------
html {
    font-size: $font-size-root;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    letter-spacing: .045rem;
}
*:focus {
    outline: none!important;
}
a {
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
hr {
    margin-top: 1.4rem;
    margin-bottom:1.4rem;
}
img {
    max-width: 100%;
}
code {
    font-size: 80%;
    background: $md-deep-orange-50;
    color: $md-brown-800;
}
button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-sans-serif;
}

/** Bug fix for pre **/
// @media (max-width: 575px) {
//     .container {
//         max-width: 100%;
//     }
// }

// ------ buttons
.btn {
    box-shadow: 0 1px 1px rgba(0,0,0,.09), 0 1px 2px rgba(0,0,0,.05);
    &:focus {
        box-shadow: none;
    }
}
.btn-fab {
    border-radius: 50%;
    min-width: 44px; min-height: 44px;
    padding: 0;
}
.btn-fab.btn-sm {
    min-width: 32px; min-height: 32px;
}
.btn-fab.btn-lg {
    min-width: 56px; min-height: 56px;
}

// ----- breadcrumb
.breadcrumb-item.active {
    font-weight: 700;
}

// ----- dropdowns
.dropdown > .dropdown-menu {
    transition: .2s ease-in-out;
    transform: scale(.8);
    transform-origin: 100% 0;
    display: block;
    visibility: hidden;
    opacity: 0;
}
.dropdown.show > .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}
.dropdown-menu {
    box-shadow: 1px 2px 4px rgba(0,0,0,.15);
}
.dropdown-item {
    padding: 7px $dropdown-item-padding-x;
    a {
        color: $body-color;
    }
}



// ----- cards
.card {
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,.06);
}
.card-inverse {
    color: rgba(255, 255, 255, .95);
}


// ----- utilities
.font-weight-semi-bold {
    font-weight: 600;
}

// ---- reactable header
.reactable-header-sortable > span {
    display: inline-block;
    position: relative;
    &::after, &::before{
        content: '';
        position: absolute;
        border: 4px solid transparent;
        right: -1.2rem;
    }
    &::after {
        border-color: $md-grey-500 transparent transparent transparent;
        top: 11px;
    }
    &::before {
        border-color: transparent transparent $md-grey-500 transparent;
        top: 1px;
    }
}
// hide one of the triangle on sort.
.reactable-header-sort-asc.reactable-header-sortable > span::before,
.reactable-header-sort-desc.reactable-header-sortable > span::after {
    border-color: transparent;
}



// ---- Reactable pagination
.reactable-pagination {
    .reactable-page-button,
    .reactable-next-page, .reactable-previous-page  {
        display: inline-block;
        cursor: pointer;
        padding: .35rem .9rem;
        font-size: 12px;
        border: 1px solid $md-grey-200;
        border-radius: 2px;
        margin-right: 4px;
    }
    .reactable-current-page {
        background: $md-blue-500;
        color: #fff;
    }
    .reactable-next-page, .reactable-previous-page {

    }
}


// Modals Transition
// -----------------
// Because we can't add extra class directly in `.modal` through reactstrap react lib.
// We attached it to `.modal-dialog` and controlled it via `.fade` and `.show` class of `.modal`
.modal {
    .modal-dialog {
        margin-top: 8rem;
    }
    .modal-header .modal-title {
        font-size: 1.2rem;
        font-weight: 600;
    }
    &.fade{
        perspective: 1300;  // for 3d flip effect
        .modalFadeInScale,
    	.modalSlideIn,
    	.modal3DFlipHorizontal,
    	.modal3DFlipVertical,
    	.modalFall,
    	.modalRapid {
            &.modal-dialog {
                transition: .3s;
            }
        }
    }
    &.show {
        .modalFadeInScale,
    	.modalSlideIn,
    	.modal3DFlipHorizontal,
    	.modal3DFlipVertical,
    	.modalFall,
    	.modalRapid {
            &.modal-dialog{
                opacity: 1;
            }
        }
    }

	// === fadeInScale
    .modalFadeInScale.modal-dialog {
        transform: scale(.7);
    }
    &.show .modalFadeInScale.modal-dialog {
        transform: scale(1);
        -webkit-font-smoothing: subpixel-antialiased
    }

	// ==== slideIn
    .modalSlideIn.modal-dialog {
        transform: translate(20%, 0);
    }
    &.show .modalSlideIn.modal-dialog {
        transform: translate(0,0);
    }

	// === 3D Flip (Horizontal)
    .modal3DFlipHorizontal.modal-dialog {
        transform: rotateY(-70deg);
    }
    &.show .modal3DFlipHorizontal.modal-dialog {
        transform: rotateY(0);
        transform-style: preserve-3d;
        -webkit-font-smoothing: subpixel-antialiased;
    }


	// === 3D Flip (Vertical)
    .modal3DFlipVertical.modal-dialog {
        transform: rotateX(-70deg);
    }
    &.show .modal3DFlipVertical.modal-dialog {
        transform: rotateX(0);
        transform-style: preserve-3d;
        -webkit-font-smoothing: subpixel-antialiased;
    }

	// === fall
    .modalFall.modal-dialog {
        transform-style: preserve-3d;
        transform: translateZ(600px) rotateX(20deg);
    }
    &.show .modalFall.modal-dialog {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-font-smoothing: subpixel-antialiased;
    }

	// === Fast Train
    &.show .modal-dialog.modalRapid {
        animation: modalRapid .5s forwards ease-out;
        -webkit-font-smoothing: subpixel-antialiased;
    }

	@-webkit-keyframes modalRapid {
		0% { opacity: 0; -webkit-transform: translate3d(calc(-100vw - 50%), 0, 0); }
		50% { opacity: 1; -webkit-transform: translate3d(100px, 0, 0); }
		100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
	}

	@keyframes modalRapid {
		0% { opacity: 0; -webkit-transform: translate3d(calc(-100vw - 50%), 0, 0); transform: translate3d(calc(-100vw - 50%), 0, 0); }
		50% { opacity: 1; -webkit-transform: translate3d(100px, 0, 0); transform: translate3d(100px, 0, 0); }
		100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	}

}

/* REACT PAGINATION OVERRIDE */
.reactable-pagination .reactable-current-page {
    background: $brand-primary;
}

.build {
    header {
        border-bottom: 1px solid #eee;
        
        ~ .build-wrapper {
            padding: 1rem;
        }
    }
}


/* switch */

.switch{
    width: 75px;
    height: 40px;
}

.toggle{
    position: relative;
    border: 2px solid #444249;
    border-radius: 20px;
    -webkit-transition: border-color .6s  ease-out;
    transition: border-color .6s  ease-out;
    box-sizing: border-box;

    &.toggle-on{
        border-color: rgba(137, 194, 217, .4);
        -webkit-transition: all .5s .15s ease-out;
        transition: all .5s .15s ease-out;
    }
}

.toggle-button{
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: #444249;
    border-radius: 19px; 
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-text-on{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */    
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    color: rgba(0,0,0,0);
}

.toggle-on {
    .toggle-button{
        top: 3px;
        width: 65px;
        bottom: 3px;
        right: 3px;
        border-radius: 23px;
        background-color: $brand-primary;
        box-shadow: 0 0 16px $brand-primary;
        -webkit-transition: all .2s .1s, right .1s;
        transition: all .2s .1s, right .1s;
    }

    .toggle-text-on{
        color: #fff;
        -webkit-transition: color .3s .15s ;
        transition: color .3s .15s ;
    }
    
    .toggle-text-off{
        color: rgba(0,0,0,0);
    }   

    .glow-comp{
        opacity: 1;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
    }    
}

.toggle-text-off{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    line-height: 36px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: pointer;
    color: #444249;
}

/* used for streak effect */
.glow-comp{
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

h4 {
    .switch {
        position: absolute;
        top: -5px;
        right: -70px;
        width: 60px;
        height: 30px;
        
        .toggle-text-on {
            line-height: 24px;
            font-size: 10px;
        }
        
        .toggle-text-off {
            line-height: 24px;
            font-size: 10px;
        }

        .toggle-button {
            width: 19px;
            right: 32px;
        }

        &.toggle-on { 
            .toggle-button {
                width: 50px;
                right: 3px;
            }
        }
    }
}



// ---------- END ---------
.dates-wrapper {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    .react-datepicker-wrapper {
        margin: 0px 0px 0px 5px;

        .wrap-dates {
            width: 90px;
            border: 1px solid #eee;
            font-size: 0.9rem;
            border-radius: 4px;
            padding: 0.25rem 0.5rem;
        }
    }
}